# React
/node_modules
/.pnp
.pnp.js
/coverage
/build

# Ignore all Markdown files (keep only essential ones)
*.md
!README.md
!PROJECT_TECH_REPORT.md

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
.idea/
.vscode/

# Database
*.sqlite3
*.db

# Android / Capacitor
android/build/
android/app/build/
android/.gradle/
android/local.properties
android/.idea/
android/capacitor.settings.gradle

# System
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
